* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    align-items: center;
    width: 90vw;
    height: 90vh;
    flex-direction: column;
}

.newDiv {
    display: flex;
}

#btn {
    
    
}
