@font-face {
    font-family: "Roboto";
    src: url(./Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Photo by Zaini Izzuddin https://unsplash.com/s/photos/library?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText*/
    background-image: url("./zaini-izzuddin-55btQzyDiO8-unsplash.jpg");
    background-size: cover; 

}

.container {
    display: flex;
    width: 80vw;
    height: 80vh;
    flex-direction: row;
    border: 10px solid pink;
    border-radius: 1em;
    margin-top: 5em;
    margin-bottom: 2em;
    gap: 35em;
    padding: 3em;
}

.title, .author {
    font-family: "Roboto";
    font-size: 3em;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.title>*, .author>* {
    overflow-wrap: anywhere;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
}

#btn {
    font-size: 2em;
    padding: 0.3em;
    color: black;
    border: 5px solid pink;
}

.author>button {
    font-size: 0.5em;
    padding: 0.5em;
    background-color: transparent;
}

.bookDiv {
    display: flex;
    height: fit-content;
}